
.container{
}
.logo{
  width:200px;
  margin: auto;
}

.logo img {
  width: 100%;
}

.addDrug{
  margin: auto;
  margin-top: 5%;
}
form {
  text-align: right;
  direction: rtl;
  width: 77%;
  margin: auto;
  display: block;
  margin-right: 30%;
}

form input,form select{
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
    padding: 7px;
    border: 2px solid #1a1919;
    border-radius: 10px;
    background-color: transparent;
    font-weight: bold;
}
form select {
  display: inline-block;
  width: 180px;
}
form label{
  font-size: 20px;
  font-weight: bold;
  color:#15517c;
}
form .first{
  width: 30%;
}
.last{
  display:inline-block;
  width: 60%;
  margin-top: 40px;

}
.add{
  display: block;
  width: 200px;
  margin-top: 30px;
  margin-right: 25%;
  font-size: 20px;

}
.amount{
  position: relative;
  right: 30px;
  width: 56%;
}
