<div class="container">
  <div class="brand">
    <div class="image">
      <img src="../../../assets/brand/logo.png" alt="شعار كلية الظباط الاحتياط">
    </div>
    <div class="persons row">

      <div class="cover  col-4" routerLink="login/1">
        <div class="photo "><img src="../../../assets/coverimages/reception.png" class="img-fluid" alt=" موظف الاستقبال"></div>
        <button>استقبال</button>
      </div>

      <div class="cover col-4"  routerLink="login/2">
        <div class="photo"><img src="../../../assets/coverimages/doctor.png" alt=" طبيب" class="img-fluid"></div>
        <button> طبيب</button>
      </div>

      <div class="cover col-4"  routerLink="login/3">
        <div class="photo"><img src="../../../assets/coverimages/pharmacist.png" alt=" صيدلي" class="img-fluid"></div>
        <button class=""> صيدلي</button>
      </div>
    </div>
  </div>

</div>
