<app-exit></app-exit>

<div class="container">

  <div class="brand">
    <div class="image">
      <img src="../../../assets/brand/logo.png" alt="شعار كلية الظباط الاحتياط">
    </div>
    <div class="persons row">

      <div class="cover  col-4">
        <div class="photo" routerLink="/reception">
          <img src="../../../assets/New folder/بحث2.png" class="img-fluid" >
        </div>
        <button > بحث عن مريض</button>
      </div>

      <div class="cover col-4"  routerLink="/addPatient">
        <div class="photo"><img src="../../../assets/New folder/اضافة.png" alt="اضافة دواء" class="img-fluid"></div>
        <button> اضافة مريض</button>
      </div>

      <div class="cover col-4">
        <div class="photo"><img src="../../../assets/New folder/ملاحظة-2.png" alt="اضافة دواء" class="img-fluid"></div>
        <button> الملاحظة </button>
      </div>



    </div>
  </div>

</div>

<app-exit></app-exit>


<div class="footer">
  <div class="nameOfRe" >
    {{username}}
  </div>

</div>


