.log{
  width: 200px;
  height: 200px;
  margin: auto;
}

 .log img{
  width: 100%;
  height: 100%;
}

table{
  text-align: center;
}
table thead th{
  color:#72849b;

}

table tbody th{
  max-width: 40px;
  font-size: 13px;
}
table tbody th tr td {
  color: #ce000d;
  word-wrap: unset;
}
.banner {
  font-family: monospace;
  color: cadetblue;
}
