<app-exit></app-exit>

<div class="container">
  <div class="brand">
    <div class="image">
      <img src="../../../assets/brand/logo.png" alt="شعار كلية الظباط الاحتياط">
    </div>
    <div class="persons row">

      <div class="cover  col-4">
        <div class="photo" routerLink="/pharmacy">
          <img src="../../assets/ph/Untitled-1.png" class="img-fluid" alt=" صرف علاج ">
        </div>
        <button >صرف علاج</button>
      </div>

      <div class="cover col-4"  routerLink="/Drug">
        <div class="photo"><img src="../../assets/ph/55.png" alt="اضافة دواء" class="img-fluid"></div>
        <button> اضافة دواء</button>
      </div>


    </div>
  </div>

</div>

<div class="footer">
  <div class="nameOfRe" >
    {{username}}
  </div>
</div>

